/* Webfont: Luciole-Regular */
@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.svg#Luciole-Regular')
      format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.svg#Luciole-Bold')
      format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.svg#Luciole-Italic')
      format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.svg#Luciole-BoldItalic')
      format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 700;
}

:root {
  --main-family: 'Luciole', Helvetica, Arial, sans-serif;
  --dark: #0b0b0b;
  --white: #fafafa;
}

[data-selected-theme='dark'] {
  --bg-primary: var(--dark);
  --color-primary: var(--white);
  --red: #ee1b48;
  --blue: #1e90ff;
}

[data-selected-theme='light'] {
  --bg-primary: var(--white);
  --color-primary: var(--dark);
  --red: #db2958;
  --blue: #156fe8;
}

html {
  font-family: var(--main-family);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  min-height: 100vh;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  line-height: normal;
}

.font-bold {
  font-weight: 600;
}

.font-italic {
  font-style: italic;
}

a {
  color: var(--red);
}

a:hover {
  text-decoration-thickness: 0.2em;
  text-decoration-line: underline;
  text-decoration-style: unset;
  text-underline-offset: 0.25em;
}

.bg-red {
  background-color: var(--red);
}

.logo-shodo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-shodo .logo {
  text-align: center;
}

.logo-shodo .bg-red {
  padding: 15px 12px;
}

.wrap-logo {
  background-color: var(--white);
}

.brand {
  text-transform: uppercase;
  width: 9em;
  padding-left: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.pr-2 {
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .s-row {
    flex-direction: column;
  }

  .s-pr-0 {
    padding-right: 0;
  }
}

.reseaux-sociaux ul {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0;
  flex-direction: column;
}

.reseaux-sociaux ul li {
  margin-bottom: 1em;
}

.reseaux-sociaux ul li svg {
  vertical-align: middle;
  width: 2em;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

[data-selected-theme='light'] .img-dark {
  display: none;
}

[data-selected-theme='dark'] .img-light {
  display: none;
}

.text-center {
  text-align: center;
}
