/* Webfont: Luciole-Regular */
@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-Regular/Luciole-Regular.svg#Luciole-Regular')
      format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-Bold/Luciole-Bold.svg#Luciole-Bold')
      format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-Italic/Luciole-Italic.svg#Luciole-Italic')
      format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.svg#Luciole-BoldItalic')
      format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 700;
}

:root {
  --main-family: 'Luciole', Helvetica, Arial, sans-serif;
  --dark: #0b0b0b;
  --white: #fafafa;
}

[data-selected-theme='dark'] {
  --bg-primary: var(--dark);
  --color-primary: var(--white);
  --red: #ee1b48;
  --blue: #1e90ff;
  --tab-color-active: #191c1d;
  --tab-color: #202325;
  --tab-border-color: #a6a6a6;
}

[data-selected-theme='light'] {
  --bg-primary: var(--white);
  --color-primary: var(--dark);
  --red: #db2958;
  --blue: #156fe8;

  --tab-color-active: #fafafa;
  --tab-color: #edeff3;
  --tab-border-color: #b7b7b8;
}

html {
  font-family: var(--main-family);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  min-height: 100vh;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  line-height: normal;
}

.font-bold {
  font-weight: 600;
}

.font-italic {
  font-style: italic;
}

.bg-red {
  background-color: var(--red);
}

.logo-shodo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-shodo .logo {
  text-align: center;
}

.logo-shodo .bg-red {
  padding: 15px 12px;
}

.wrap-logo {
  background-color: var(--white);
}

.brand {
  text-transform: uppercase;
  width: 9em;
  padding-left: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.pr-2 {
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .s-row {
    flex-direction: column;
  }

  .s-pr-0 {
    padding-right: 0;
  }
}

.reseaux-sociaux ul {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0;
  flex-direction: column;
}

li,
.reseaux-sociaux ul li {
  margin-bottom: 1em;
}

.reseaux-sociaux ul li svg {
  vertical-align: middle;
  width: 2em;
  color: var(--blue);
}

.reseaux-sociaux ul li i {
  vertical-align: middle;
  font-size: 2em;
  color: var(--blue);
  width: 1.5em;
  text-align: center;

  &.fa-link {
    font-size: 1.8em;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

[data-selected-theme='light'] .img-dark {
  display: none;
}

[data-selected-theme='dark'] .img-light {
  display: none;
}

.text-center {
  text-align: center;
}

.slides embed {
  width: 100%;
}

/** link **/

a {
  color: var(--red);
}

a:hover,
a.active,
a.active:hover,
a:hover .fa-solid {
  text-decoration-color: var(--red);
  text-decoration-thickness: 0.2em;
  text-decoration-line: underline;
  text-decoration-style: unset;
  text-underline-offset: 0.5em;
}

/** custom-picture **/

.img-dark,
.img-light,
.img-responsive {
  width: 20rem;
}

w-auto {
  width: auto;
}

.img-round {
  border-radius: 50%;
  height: auto;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.img-landscape {
  width: 22vw;
}

.icon {
  vertical-align: middle;
  width: 2em;
}

/*
.toggle-gp {
  text-align: center;
  width: 20rem;
  margin-bottom: 2em;
}*/

@media screen and (max-width: 599px) {
  .img-dark,
  .img-light,
  .img-responsive,
  .img-landscape,
  .s-width-100 {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .img-landscape {
    width: 35vw;
  }
}

/*
.col:has(.toggle-gp) {
  align-self: start;
}

.btn-toggle {
  cursor: pointer;
  color: var(--color-primary);
  border: 0.1em solid var(--color-primary);
  padding: 0.5em 1em;
  font-size: 0.9rem;
  background-color: var(--color-bg);
  font-family: var(--main-family);
  outline: none;

  &:hover,
  &:focus-visible {
    background-color: var(--red);
    border-color: var(--red);
  }
}

.content-to-toggle {
  padding: 1em 0;
  font-size: 0.9rem;
  display: none;
}

.content-to-toggle p {
  text-align: left;
  margin: 0;
}

.is-active .content-to-toggle {
  display: block;
}*/

/** custom-cartes **/

.tabs {
  font-family: var(--main-family);
}

[role='tablist'] {
  /*min-width: 100%;*/
}

[role='tab'],
[role='tab']:focus,
[role='tab']:hover {
  font-family: var(--main-family);
  font-weight: 300;

  display: inline-block;
  position: relative;
  z-index: 2;
  top: 2px;
  margin: 0;
  margin-top: 4px;
  padding: 3px 3px 4px;
  border-radius: 5px 5px 0 0;

  overflow: hidden;
  text-align: left;
  cursor: pointer;

  border: 1px solid var(--tab-border-color);
  background-image: initial;
  background-color: var(--tab-color);
}

.tabs button {
  color: var(--color-primary);
}

[role='tab'][aria-selected='true'] {
  padding: 2px 2px 4px;
  margin-top: 0;
  border-width: 2px;
  border-top-width: 6px;
  border-top-color: var(--red);
  border-bottom-color: var(--red);
  background-image: initial;
  background-color: var(--tab-color-active);
  outline: none;
}

[role='tab'][aria-selected='false'] {
  /*border-bottom: 1px solid var(--tab-border-color);*/
}

[role='tab'] span.focus {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.4rem 0.6rem;
  font-size: 105%;
}

[role='tab']:hover span.focus,
[role='tab']:focus-visible span.focus,
[role='tab']:active span.focus {
  padding: 0.2rem 0.4rem;
  border: 0.2rem solid var(--blue);
  border-radius: 0.3rem;
}

[role='tabpanel'] {
  border-radius: 0 5px 5px;
  /*width: 100%;*/
  overflow: auto;

  border: 2px solid var(--tab-border-color);
  background-image: initial;
  background-color: var(--tab-color-active);

  outline: none;

  [role='list'] {
    padding: 1em;

    h4 {
      font-weight: 300;
    }
  }

  [role='listitem'] {
    border-bottom: 0.1rem solid;

    &:last-child {
      border-bottom: 0;
    }
  }

  &.is-hidden {
    display: none;
  }

  p {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  [role='tabpanel'] {
    margin-top: 1em;
  }

  .tabs button {
    width: 100%;
  }
}

[role='tabpanel']:focus-visible {
  border-color: var(--blue);
}

figure {
  border-bottom: 0.1em solid;
  margin: 2em auto;
  text-align: center;
}

figure:last-child {
  border-bottom: 0;
}

figcaption {
  text-align: center;
}

figure img {
  width: 75%;
}

@media screen and (max-width: 768px) {
  figure img {
    width: 100%;
  }
}

figure .titre {
  font-weight: 300;
  font-size: 102%;
  margin-bottom: 0;
}
